$accent: #16bac5;
$dark: #161618;
$border-gray: #b4b4b4;
$body-color: #F3F5F6;
$lush-green: #2EA043;

body {
    background-color: $body-color;
    padding: 0;
    margin: 0;
}

@mixin button_style {
    border: 2px solid $accent;
    border-radius: 10px;
    color: $accent;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        color: $dark;
        background-color: $accent;
    }

}

@mixin field_input {
    outline: none;
    padding: 15px 20px 15px 60px;
    margin: 10px 0 0px 0;
    border: 0;
    border-bottom: 2px solid #252526;
    text-align: left;
    transition: 0.3s ease;
    color: #818181;

    &:hover {
        transition: 0.3s ease;
        border-bottom: 2px solid $accent;
    }

    &:focus {
        transition: 0.3s ease;
        border-bottom: 2px solid $accent;
    }

    &::placeholder {
        opacity: 0.4;
    }

}