@use "../../App.module.scss" as App;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');

.icon_wrapper {
    background-color: App.$accent;
    border-radius: 10px;
    padding: 0 max(13px, 0.5vw) 3px 10px;
    width: 40px;
    height: 55px;
    min-height: fit-content;
}

.icon_letters {
    font-family: "Oswald";
    color: #FFFFFF;
    font-size: 36px;
    margin: 0;
    text-align: center;
    user-select: none;
}