@use "../../../App.module.scss" as App;

.content {
    display: flex;
    flex-direction: row;
    margin: 55px 0 0 0;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 93vh;
    width: max(20%, 200px);
}